@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic');

.context-menu {
  position: absolute;
  width: 200px;
  padding: 2px 0;
  border: 1px solid #e8e8e8;
  background: #fff;
  z-index: 9;
}
.context-menu__item {
  padding: 5px 10px;
}
.context-menu__item:hover {
  background: #efefef;
  cursor: pointer;
}

.data-table-contaier {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 18px;
}

.table-toolbar {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 0 0;
    margin: 0;
    list-style: none;
    background: #3b9cff;
}

.table-toolbar__item {
  margin-right: 15px;
  font-size: 0.9em;
  color: #fff;
  cursor: pointer;
}

.data-table {
  width: 100%;
  border-spacing: 0;
}

.data-table__header {
  display: block;
}
.data-table__body {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.data-table-row {
  display: flex;
}
.data-table-row--header {
  padding-right: 17px;
  background: #3b9cff;
}
.data-table-row--filter {
  padding-right: 16px;
  border-right: 1px solid #e8e8e8;
}

.data-table-input {
  width: 100%;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #dadada;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  outline: none;
}

.data-table-cell {
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid #e8e8e8;
  padding: 7px 10px;
  text-align: left;
}
.data-table-cell--header {
  padding-top: 0;
  border: 1px solid #3b9cff;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  /* Disable double click select text */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.data-table-cell--hide-header {
  flex: none;
  background: #197de2;
  border: 1px solid #197de2;
}
.data-table-cell--hide {
  flex: none;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
}

.order-view {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.order-view:after {
  position: absolute;
  top: 4px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.order-view--asc:after {
    content: '';
    border-bottom: 10px solid #0b6bce;
}
.order-view--desc:after {
    content: '';
    border-top: 10px solid #0b6bce;
}

.data-table__body .data-table-row:nth-child(2n + 1) {
  background: #f2f2f2;
}
.data-table-row:not(.data-table-row--header):not(.data-table-row--filter):hover {
  background-color: #ddd;
}
